#include "main.h"

MAIN MENU 
{
	POPUP "文件"
	{
		MENUITEM "新建", CM_FILE_NEW
		MENUITEM "打开", CM_FILE_OPEN
		MENUITEM "保存", CM_FILE_SAVE, GRAYED
		MENUITEM "另存为", CM_FILE_SAVEAS, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "退出软件", CM_FILE_EXIT
	}
	
	POPUP "编辑", GRAYED
	{
		MENUITEM "&撤回\tCtrl+Z", CM_EDIT_UNDO
		MENUITEM SEPARATOR
		MENUITEM "剪切\tCtrl+X", CM_EDIT_CUT
		MENUITEM "复制\tCtrl+C", CM_EDIT_COPY
		MENUITEM "粘贴\tCtrl+V", CM_EDIT_PASTE
	}
	
	POPUP "帮助"
	{
		MENUITEM "Github地址",Githublink 
		MENUITEM SEPARATOR
	}
	
	//POPUP "窗口", GRAYED
	//{
	//	MENUITEM "&Cascade", CM_WINDOW_CASCADE
	//	MENUITEM "Tile &Horizontal", CM_WINDOW_TILEHORZ
	//	MENUITEM "Tile &Vertical", CM_WINDOW_TILEVERT
	//	MENUITEM "Arrange &Icons", CM_WINDOW_ARRANGE
	//}
}
